<h1>Listing competition_genres</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competition_genres.each do |competition_genre| %>
  <tr>
      <td><%= competition_genre.code %></td>
      <td><%= competition_genre.name %></td>
    <td><%= link_to 'Show', competition_genre %></td>
    <td><%= link_to 'Edit', edit_competition_genre_path(competition_genre) %></td>
    <td><%= link_to 'Destroy', competition_genre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition genre', new_competition_genre_path %>
