<h1>Listing seasons</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Action</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= season.code %></td>
    <td><%= season.name %></td>
    <td>
        <%= link_to 'Show', season %>
        <%= link_to 'Edit', edit_season_path(season) %>
        <%= link_to 'Destroy', season, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Season', new_season_path %>
