<h1>Listing Opposition Teams</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @opposition_teams.each do |opposition_team| %>
  <tr>
      <td><%= opposition_team.code %></td>
      <td><%= opposition_team.name %></td>
      <td>
        <%= link_to 'Show', opposition_team %>
        <%= link_to 'Edit', edit_opposition_team_path(opposition_team) %>
        <%= link_to 'Destroy', opposition_team, :confirm => 'Are you sure?', :method => :delete %>
      </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opposition team', new_opposition_team_path %>
