<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>

    <div>
        <%= f.label :surname %>
        <%= f.text_field :surname %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :origin_city %>
        <%= f.text_field :origin_city %>
    </div>

    <div>
        <%= f.label :origin_state %>
        <%= f.text_field :origin_state %>
    </div>

    <div>
        <%= f.label :origin_country %>
        <%= f.text_field :origin_country %>
    </div>

    <div>
        <%= f.label :dob %>
        <%= f.text_field :dob %>
    </div>

    <div>
        <%= f.label :picture_url %>
        <%= f.text_field :picture_url %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
