<h1><%= @profile.display %></h1>

<ul class="tabs">
    <li><a href="/profiles/<%= @profile.id %>">Profile</a></li>
    <li><a href="/profiles/<%= @profile.id %>/career">Career</a></li>
    <li><a href="/profiles/<%= @profile.id %>/batting">Batting</a></li>
    <li><a href="/profiles/<%= @profile.id %>/bowling">Bowling</a></li>
</ul>
