<p id="notice"><%= notice %></p>

<h2><%= @profile.display %></h2>

<table>
  <thead>
      <tr>
          <th>Nicknames</th>
          <th>Aliases</th>
      </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <% @profile.player.nicknames.each do |nickname| %>
            <div><%= nickname.name %></div>
          <% end %>
        </td>
        <td>
          <% @profile.player.player_aliases.each do |name| %>
            <div><%= name.name %></div>
          <% end %>
        </td>
      </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>Create Nickame</td>
      <td>Create Alias</td>
    </tr>
  </tfoot>
</table>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
