<h1>Listing players</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Profile</th>
    <th>Actions</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.code %></td>
    <td><%= player.profile.nil? ? "N/A" : player.profile.name %></td>
    <td>
      <%= link_to 'Profile', player.profile %>
      <%= link_to 'Career',  "/profiles/#{player.profile.id}/career" %>
      <%= link_to 'Batting', "/profiles/#{player.profile.id}/batting" %>
      <%= link_to 'Bowling', "/profiles/#{player.profile.id}/bowling" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
